<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p><%= content %></p>
    <% if (mydata !== null) { %>
      <ul>
        <li><%= mydata.id %></li>
        <li><%= mydata.attributes.name %></li>
        <li><%= mydata.attributes.mail %></li>
        <li><%= mydata.attributes.age + ' old.' %></li>
      </ul>
    <% } %>
    <form method="POST" action="/database/find">
      <table>
        <tr>
          <th>NAME</th>
          <td><input type="text" name="fstr" value="<%= form.fstr %> "></td>
        </tr>
        <tr>
          <th></th>
          <td><input type="submit" value="検索"></td>
        </tr>
      </table>
    </form>
  </body>
</html>
