<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <table>
      <% for (let i in content) { %>
        <tr>
          <%# const obj = content[i]; %>
          <% const obj = content[i].attributes; %>
          <th><%= obj.id %></th>
          <td><%= obj.name %></td>
          <td><%= obj.mail %></td>
          <td><%= obj.age %></td>
        </tr>
      <% } %>
    </table>
    <p>
      <a href="/database/1">&lt;&lt; First</a>
      <a href="/database/<%= pagination.page - 1 %>">&lt;&lt; Prev</a>
      <a href="/database/<%= pagination.page + 1 %>">Next &gt;&gt;</a>
      <a href="/database/<%= pagination.pageCount %>">Last &gt;&gt;</a>
    </p>
  </body>
</html>
