<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="./style.css">
  </head>
  <body>
    <h1><%= title %></h1>
    <p><%= content %></p>
    <p>伝言です！</p>
    <p><%= data.msg %></p>
    <p>your last:<%= cookie_data %></p>
    <form method="POST" action="/">
      <input type="text" name="msg">
      <input type="submit" value="送信">
    </form>
  </body>
</html>
