<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Hi, <%= login.name %>! Welcome to <%= title %></p>
    <form method="POST" action="/">
      <input type="text" name="find" size="40" value="<%= form.find %>">
      <input type="submit" value="検索">
    </form>
    <hr>
    <p><%= message %></p>
    <ul>
      <% for (let i in content) { %>
        <% if (content[i].attributes.user_id !== login.id) {continue;} %>
        <li><a href="/mark/<%= content[i].id %>"><%= content[i].attributes.title %></a></li>
      <% } %>
    </ul>
    <p><a href="/add">※データを登録</a></p>
  </body>
</html>
