<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= login.name %>.</p>
    <form method="POST" action="/">
      <input type="text" name="msg" size="50">
      <input type="submit" value="送信">
    </form>
    <hr>
    <table>
      <% for (let i in collection) { %>
        <%- include('data_item', {val: collection[i]}) %>
      <% } %>
    </table>
    <p>
      <% if (pagination.page > 1) { %>
        <a href="/<%= pagination.page - 1 %> ">&lt;&lt; Prev</a>
      <% } else { %>
        <span>&lt;&lt; Prev</span>
      <% } %>
      |
      <% if (pagination.page < pagination.pageCount) { %>
        <a href="/<%= pagination.page + 1 %> ">Next &gt;&gt;</a>
      <% } else { %>
        <span>Next &gt;&gt;</span>
      <% } %>
    </p>
  </body>
</html>
